<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Great News!</h1>
    <p>
      Coach <%= @guest_coach.name %> of the <%= @guest_coach.team %> will be a guest coach at your practice on <%= @practice[:date].strftime('%A %B %d') %>. <br>
    </p>
    <p>
      Make a connection with Coach <%= @guest_coach.name %> by sending them an email <%= @guest_coach.email %>
    </p>
    <p>Thanks again for using CoachSwap</p>
  </body>
</html>
