<tr class="practice-form">
  <td>
    <span class="select is-medium">
      <%= select_tag "practices[][day_of_week]", options_for_select(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]) %>
    </span>
  </td>
  <td class="mini-field">
    <%= text_field_tag "practices[][time]", nil, class: "input is-medium", placeholder: "6:00pm" %>
  </td>
  <td class="mini-field">
    <%= text_field_tag "practices[][duration]", nil, class: "input is-medium", placeholder: "2" %>
  </td>
  <td class="street-field">
    <%= text_field_tag "practices[][street]", nil, class: "input is-medium", placeholder: "123 My Street" %>
  </td>
  <td>
    <%= text_field_tag "practices[][city]", nil, class: "input is-medium", placeholder: "Denver" %>
  </td>
  <td class="mini-field">
    <%= text_field_tag "practices[][zipcode]", nil, class: "input is-medium", placeholder: "12345" %>
  </td>
  <td>
    <%= date_field_tag "practices[][end_date]", nil, class: "input is-medium" %>
  </td>
</tr>
