<%= render 'layouts/top_nav' %>

<div class="columns">
  <div class="column is-3">
    <h2>Filters</h2>
    <form id="filters-form" method="get">
      <%= render partial: 'select_field',
                 locals: {name: 'Age Group',
                          options: unique_fields(Coach, :age_group),
                          value: params['age_group']
                 } %>
      <%= render partial: 'text_field', locals: {name: 'city'} %>
      <%= render partial: 'select_field',
                 locals: {name: 'State',
                          options: unique_fields(Practice, :state),
                          value: params['state']
                 } %>
      <%= submit_tag 'Apply', class: "button is-success" %>
      <%= link_to 'Clear All', practices_path, class: 'button is-danger' %>    
    </form>
  </div>
  <div class="column is-4">
    <% i = 0 %>
    <% date = Date.today %>
    <% 7.times do |i| %>
      <% counter = 0 + i %>
      <% if @all_practices.any? {|a| a.date == date + counter} %>
        <article class="message">
          <div class="message-header has-text-centered">
            <%= date_calculator(date + counter) %>
          </div>
          <div class="message-body">
            <ul>
              <% @all_practices.each do |practice| %>
                <%= render 'practice', practice: practice, date: (date + counter), coaches: @all_coaches %>
              <% end %>
            </ul>
          </div>
        </article>

      <% end %>
    <% end %>






  </div>
</div>
