<%= render 'layouts/top_nav' %>

<div class="columns">
  <div class="column is-two-thirds">
    <article class="message">
      <div class="message-header has-text-centered">
        Today
      </div>
      <div class="message-body">
        <ul>
          <% @practices.each do |practice| %>
            <%= render 'practice', practice: practice, date: date_calculator(Time.now) %>
          <% end %>
        </ul>
      </div>
    </article>

    <article class="message">
      <div class="message-header has-text-centered">
        <%= date_calculator(Time.now + 86400)%>
      </div>
      <div class="message-body">
        <ul>
          <% @practices.each do |practice| %>
            <%= render 'practice', practice: practice, date: date_calculator(Time.now + 86400) %>
          <% end %>
        </ul>
      </div>
    </article>

    <article class="message">
      <div class="message-header has-text-centered">
        <%= date_calculator(Time.now + 2*86400)%>
      </div>
      <div class="message-body">
        <ul>
          <% @practices.each do |practice| %>
            <%= render 'practice', practice: practice, date: date_calculator(Time.now + 2*86400) %>
          <% end %>
        </ul>
      </div>
    </article>
  </div>
</div>
