
<div class="columns">
  <div class="column is-1"></div>
  <div class="column is-3">
    <div class="filter-box">
      <h4 class="title is-4">Search By:</h4>
      <form id="filters-form" method="get">
        <%= render partial: 'select_field',
                   locals: {name: 'age_group',
                            options: unique_fields(Practice, :age_group),
                            value: params['age_group']
                   } %>
        <%= render partial: 'text_field', locals: {name: 'city'} %>
        <%= render partial: 'text_field', locals: {name: 'zipcode'} %>
        <%= render partial: 'select_field',
                   locals: {name: 'state',
                            options: unique_fields(Practice, :state),
                            value: params['state']
                   } %>
        <%= submit_tag 'Apply', class: "button is-success" %>
        <%= link_to 'Clear All', coach_practices_path, class: 'button is-danger' %>
      </form>
    </div>
  </div>


  <div class="column is-4">
    <% i = 0 %>
    <% date = Date.today %>
    <% 7.times do |i| %>
      <% counter = 0 + i %>
      <% if @practices.any? {|a| a.date == date + counter} %>
        <article class="message">
          <div class="message-header has-text-centered">
            <%= date_calculator(date + counter) %>
          </div>
          <div class="message-body practice-list">
            <ul>
              <% @practices.each do |practice| %>
                <%= render 'practice', practice: practice, date: (date + counter), coaches: @all_coaches %>
              <% end %>
            </ul>
          </div>
        </article>

      <% end %>
    <% end %>






  </div>
</div>
