
<div class="columns">
  <!--<div class="column is-1"></div>-->
  <div class="column practice-form-main">
    </br>
    <h1 class="title is-2">My Practice Schedule</h1>
    <h4 class="title is-4">Create a practice schedule for your team</h4>
    </br>
    <%=	form_for [@coach, @practice] do |f| %>
    <table class="table">
      <thead>
        <tr>
          <th>Start Time</th>
          <th>Duration (hrs)</th>
          <th>Street</th>
          <th>City</th>
          <th>Zipcode</th>
          <th>Start Date</th>
          <th>
            <a class="tooltips">End Date
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <span>Does this practice occur every week? If so, enter the last date for this practice.</span>
            </a>

          </th>
        </tr>
      </thead>
      <tbody>
        <%= render 'practice_form_2', f: f %>
        <td colspan="3"><%=	f.submit "Submit", class: "button is-success" %> <%= f.submit "Submit and add practice", name: "add_practice", class: "add_practice button is-success" %> <span class="back_link"><%= link_to "Back", coach_practices_path %></span></td>


      </tbody>
    </table>
    <% end %>
  </div>
</div>
